---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Quien soy">
  <main>
    <h1>Quien soy</h1>
    <p>
      Tan solo soy un alguien perdido en la ciudad, que encuentra las palabras
      como método de fuga de este agobio. Muchos años de versos en una cabeza
      que se me queda grande.
    </p>
    <p>Contacto: @moisesrj97 moisesrj97@gmail.com</p>
    <a href="/">← Volver</a>
  </main>
</Layout>
