---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Mis libros">
  <main>
    <h1>Mis libros</h1>
    <p>Puedes conseguir mis libros en Amazon.</p>

    <img src="/images/nuestro-rincon-en-silencio.jpg" alt="Nuestro rincón en silencio" />
    <p>
      <a
        href="https://www.amazon.es/Nuestro-rinc%C3%B3n-silencio-Mois%C3%A9s-Rodr%C3%ADguez/dp/1542765536/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1590745493&sr=8-1"
      >
        Nuestro rincón en silencio
      </a>
    </p>
    <p>
      Recopilación de la mayoría de los poemas y textos que había escrito hasta
      el momento en que se publicó.
    </p>

    <img
      src="/images/versos-de-caparazon.jpg"
      alt="Versos de caparazón - Poesía para tortugas"
    />
    <p>
      <a
        href="https://www.amazon.es/Versos-caparaz%C3%B3n-Poes%C3%ADa-para-tortugas/dp/1795034955/ref=tmm_pap_swatch_0?_encoding=UTF8&qid=1590745603&sr=8-1"
      >
        Versos de caparazón - Poesía para tortugas
      </a>
    </p>
    <p>
      Un poemario en el que contemplo una forma de amar más lenta y centrada en
      los detalles, en los momentos cotidianos que normalmente no valoramos.
    </p>

    <a href="/">← Volver</a>
  </main>
</Layout>
